.body {
  margin: 0;
  padding: 0;
}

.stay-productive-work {
  max-width: 495px;
  width: 100%;
  margin-top: 203px;
  margin-left: 200px;
  font-family: 'Ramaraja', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  letter-spacing: 0.02em;
  color: #1B0A42;
}

.the-key-to-work-from {

  max-width: 583px;
  width: 100%;
  margin-top: 10px;
  margin-left: 200px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.02em;
  color: #9A9A9A;
}

.div-wrapper1 {
  width: 100%;
  max-width: 200px;
  height: 50px;
  margin: 10px auto;
  background-color: #7133f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  width: 152px;
  height: 64px;
  margin-top: 50px;
  margin-left: 200px;
  background-color: #7133f6;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 200%;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: none;
}


.text-wrapper1 {
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: right;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.text-wrapper7,
.text-wrapper6 {
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-bar {
  display: flex;
  gap: 30px;
  margin-top: 37px;
  margin-right: 20px;
  line-height: 48px;
  margin-left: 80px;
  font-size: 20px;
}

.button2 {
  width: 152px;
  height: 64px;
  margin-top: 50px;
  margin-left: 200px;
  background-color: #7133f6;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 200%;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: none;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  /* or 160% */
  letter-spacing: -0.02em;
  color: #0A1B32;
  margin-top: 37px;
  margin-left: 80px;
}

.logo-dot {
  color: #7133f6;
}

img {
  max-width: 756px;
  width: 100%;
  margin-left: 10px;
}