body {
    margin: 0;
    padding: 0;
  }
  
  .frame {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .frame .overlap-group-wrapper {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .frame .overlap-group {
    position: relative;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0));
    padding: 50px;
    box-sizing: border-box;
  }
  
  .frame .stay-productive-work {
    text-align: justify;
    font-size: 4rem;
    font-stretch: condensed;
    color: #1b0941;
    letter-spacing: 1px;
    line-height: 1;
  }
  
  .frame .the-key-to-work-from {
  
    text-align: justify;
    position: absolute;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(143, 139, 139)
  }
  
  .div-wrapper1{
    width: 100%;
    max-width: 200px;
    height: 50px;
    margin: 10px auto;
    background-color: #7133f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .frame .div-wrapper2 {
    width: 100%;
    max-width: 200px;
    height: 50px;
    margin: 30px auto;
    background-color: #7133f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .frame .text-wrapper1 {
    font-size: 15px;
    font-weight: 700;
    color: white;
    text-align: right;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  
  .frame .text-wrapper7,
  .frame .text-wrapper6 {
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 0;
  }
  
  .frame .menu-bar {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-right: 20px;
  }
  
  .frame .text-wrapper6 {
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 0.5px;
  }
  
  .frame .medi {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #0a1b32;
    margin-top: 20px;
    align-items: flex-start;
    
  }
  
  .frame .span {
    margin-right: 1200px;
    color: #0a1b32;
  }
  
  .frame img {
    position: absolute;
    top: 200px;
    right: 160px;
    width: 130%;
    max-width: 500px; 
    display: block;
  }
  